
<script>
$(document).ready(function() {
  $(".btn-default").on("click",function(){
    window.location.href='/'
 });
});
</script>
<h1>{{title}}</h1>
<p>Welcome to the {{title}}</p>
<p>Sorry! {{error}} </p>
<p>{{message}} </p>

<input type="button" class="btn btn-default" value="Go To Home">
